
$color-primary: var(--theme-color);
// 排除掉新增的和最近维护的页面
// 1. 客户列表
.router-view-content:not(.tg-page-container) {
  .search-display-row {
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
    .search-display-button {
      margin-top: 10px;
      .display-import-button {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
  // 已出单
  .is-get-form {
    font-size: 16px;
    color: $color-primary;
    padding: 0 2px;
    border: 1px solid #396fff;
    border-radius: 5px;
  }

  .is-gray {
    color: var(--text-des-color);
    border: 1px solid var(--text-des-color);
  }
  .sales-desc {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .pre-tag {
    color: #396fff;
    border: 1px solid #396fff;
    padding: 0 4px;
    border-radius: 5px;
    font-size: 14px;
  }
  .not-pre,
  .not-write {
    color: var(--text-des-color);
    border-color: var(--text-des-color);
  }
  .search-display-item {
    .el-form-item {
      width: 30%;
      margin-bottom: 2px;
      white-space: nowrap;
      .el-select {
        width: 100% !important;
      }
    }
  }
  .display-icon {
    display: inline-block;
    // width: 30px;
    // height: 30px;
    cursor: pointer;
    // background-color: $color-icon-background;
    border-radius: 2px;
  }
  // .display-product-icon {
  //   background-image: url(../../assets/img/display_sprite.png);
  //   background-position: -4px -53px;
  //   &:hover {
  //     background-position: -4px -77px;
  //   }
  // }
  .addDisplay-dialog {
    .el-form-item {
      width: 79%;
      margin: 2px auto;
      position: relative;
      margin-left: 10%;
      // border: 1px solid red;
      .el-checkbox {
        margin-left: 10%;
        margin-top: 18px;
      }
      span {
        position: absolute;
        color: $color-primary;
        font-size: 12px;
        top: -26px;
        right: 0;
        margin-right: 10%;
      }
    }
    .el-input,
    .el-autocomplete,
    .el-select {
      width: 80%;
      margin-left: 10%;
    }
  }
  .edit-product-dialog .el-col {
    position: relative;
    height: 56px;
  }
  .edit-product-dialog .el-col .el-form-item {
    position: absolute;
    width: 330px;
    left: 50%;
    margin-left: -165px;
  }
}
