@import '@/styles/vars.scss';
$color-primary: var(--theme-color);
// 排除掉新增的和最近维护的页面
// 1. 客户列表
.router-view-content:not(.tg-page-container) {
  .add-demand-form {
    margin-top: 16px;
    border-bottom: 1px solid #eee;
    .el-row {
      text-overflow: ellipsis;
      white-space: nowrap;
      .el-form-item {
        width: 48%;
        .el-select,
        .el-date-editor {
          width: 100%;
        }
      }
    }
  }
  .pls-import-pro {
    height: 180px;
    background-color: #fff;
    background-image: url(../../assets/img/pls_import_product.png);
    background-position: center 20px;
    background-repeat: no-repeat;
    p {
      text-align: center;
      color: var(--text-des-color);
      margin-top: 140px;
    }
  }
  .row-button {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    .row-button-upload {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .row-table {
    background: #fff;
    padding: 0 10px 10px;
  }
  .demand-res {
    // 所有结果父元素
    border-top: 1px solid #eee;
    .pro-list {
      background: #fff;
      padding: 10px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      margin-top: 12px;
      margin-bottom: 2px;
      &:first-child {
        margin-top: 0;
      }
      .icon-num {
        display: inline-block;
        width: 34px;
        line-height: 34px;
        text-align: center;
        border-radius: 2px;
        background: $color-background;
        color: var(--text-des-color);
        margin-top: 10px;
        margin-left: 10px;
      }
      .pro-desc {
        line-height: 26px;
        .el-col {
          color: var(--text-des-color);
          span {
            color: #666;
          }
          .pro-link {
            a {
              text-decoration: none;
              color: $color-primary;
              .icon-link {
                vertical-align: middle;
              }
            }
          }
        }
      }
      .icon-margin {
        margin-top: 8px;
        float: right;
        margin-left: 10px;
      }
      .not-match-set {
        line-height: 100px;
        .not-match-set-bg {
          background: url(../../assets/img/not_match_set.png) no-repeat;
          background-position: 0 center;
          span {
            color: var(--text-des-color);
            margin-left: 60px;
          }
        }
      }
    }
  }
  .demand-detail-el-row {
    padding: 0;
    background: #fff;
  }
  .demand-detail-header {
    padding: 30px 30px 0 30px;
    padding-bottom: 0;
    span {
      line-height: 1;
      font-size: 16px;
      color: #666;
      font-weight: 600;
    }
    i {
      float: right;
    }
  }
  .demand-detail-footer {
    line-height: 52px;
    border-top: 1px solid #f2f2f2;
    p {
      margin-right: 16px;
      float: right;
      color: var(--text-des-color);
      span {
        color: #f26467;
        font-weight: 600;
      }
      &:last-child {
        span {
          color: $color-primary;
        }
      }
    }
  }
  .demand-active-leave-active {
    transition: all 0s;
  }
  .demand-active-enter-active {
    transition: all 0.5s;
  }
  .demand-active-enter,
  .demand-active-leave-to {
    transform: translateY(-26px);
    opacity: 0;
  }
  .add-star-dialog-header {
    line-height: 40px;
    padding: 10px 0;
    .el-select {
      float: right;
      width: 21%;
    }
  }
  .display-num-dropdown {
    color: var(--text-des-color);
    font-size: 12px;
    cursor: pointer;
  }
  .el-dropdown-menu__item {
    line-height: 20px;
    color: var(--text-third-color);
    font-size: 12px;
  }
}
