/build/
/config/
/dist/
/*.js
src/assets/iconfont/iconfont.ts
src/assets/iconfont2/iconfont.js
src/shims-tsx.d.ts
src/shims-vue.d.ts
src/shims-image.d.ts
src/assets/china.js
src/types/vender/lodash.ts
src/types/vender/lodash-custom.d.ts
src/utils/lodash/custom.js
src/utils/lodash/custom.ts
src/utils/lodash/custom.min.js
src/assets/
src/utils/promise.js
.generate/
plugin/
!.eslintrc.js
