// color-custom-specification
// $color-primary: #1890ff;
$color-yellow: #ffce36;
// $color-primary: linear-gradient(to right, red,orange, yellow, green, blue, purple);
$color-hover-shadow: 0 0 6px rgba(24, 144, 255, 0.6);
$color-box-shadow: 0 2px 12px rgba(24, 144, 255, 0.6);
// $color-icon-background: rgba(25, 140, 255, .2);
$color-icon-background: #ecf0ff;
// $color-background: #f4f5f6;
$color-background: #f5f5f5;

// size-custom-specification (margin/font/)
$size-small-s: 10px;
$size-small: 12px;
$size-medium: 14px;
$size-normal: 16px;
$size-large: 18px;
$size-large-x: 22px;

