.form-wrap {
  padding: 18px 0 6px 18px;
  .flexBox {
    display: flex;
    align-items: center;
  }
  :global {
    .el-form-item {
      display: flex;
      margin-bottom: 18px;
      .el-form-item__content {
        flex: 1 !important;
      }
    }
  }
}

.allocation-wrap {
  :global {
    .el-form-item {
      display: flex;
      .el-form-item__content {
        flex: 1 !important;
      }
    }
  }
}
.transfer {
  padding: 18px 0 6px 18px;
  .flexBox {
    display: flex;
    align-items: center;
  }
  :global {
    .el-form-item {
      display: flex;
      margin-bottom: 18px;
      .el-form-item__content {
        flex: 1 !important;
        margin-left: 0 !important;
      }
    }
  }
}
