.tg-image {
  background-image: url('~@/assets/images/default.png');
  background-color: rgba(var(--theme-rgb-color), 0.03);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 36px 36px;
}
.tg-image.no-background {
  background-image: none;
}
